
<div class="container-fluid">
  <div class="row">
    <div class="col">
        <img class="center-block image" src="/assets/img/together.jpg">
        <img class="center-block gif" src="/assets/img/dancing.gif">
        <h2 class="text-center">Thnx for watching!</h2>
    </div>
  </div>
</div>

